@using AlloyIWebPage
@model IWebPage
@{ 
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var isRelatedContent = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>().Get<EPiServer.Core.IContent>(Model.ContentLink) as IHasRelatedContent;
}

@{Html.RenderPartial("Breadcrumbs");}

<div class="row">

    <div class="span8">
        @RenderBody()
    </div>

    <div class="span4">
        @if (IsSectionDefined("RelatedContent"))
        {
            @RenderSection("RelatedContent")
       }
        else if (isRelatedContent != null)
        {
            @Html.PropertyFor(x => isRelatedContent.RelatedContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.OneThirdWidth })
       }
    </div>
</div>
